.App {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    margin-left: 30%;
    margin-top: 3%;
    margin-right: 30%;
    margin-bottom:-1%
  }
  
  header h1{
    color: black;
    padding: 2px;
  }
  
  main {
    padding: 20px;
  }
  
  .appointment-form{
    margin: 20px auto;
    max-width: 500px;
    text-align: left;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  