.con{
    border-style: groove;
    background-image: url('https://img.freepik.com/free-photo/3d-background-with-white-cubes_23-2150472987.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721779200&semt=ais_user');
    background-size: cover;
    margin-top:2%;
    margin-left:3%;
    margin-right:3%;
    margin-bottom: 10%;
}

.con h2{
    margin-left: 2%;
}

.con p{
    margin-left: 4%;
}

.con textarea{
    margin-left: 4%;
}