.patient{
    border-style: groove;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
}

.ad1{
    border-style: groove;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
}