.App {
    text-align: center;
  }
  
  .App-header {
    background-image:url('https://cdn.dribbble.com/users/64533/screenshots/4593751/animated---medical-ai-v3.gif');
    background-size: cover;
    padding: 20px;
    color: black;
  }
  