.input-group {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin-left:1%;
    margin-bottom: 2%;
  }
  
  .form-control {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: all 0.2s;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn {
    padding: 0.5rem 1rem;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 0.25rem;
    transition: all 0.2s;
  }
  
  .btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  