.lg{
    margin-top: 14%;
    justify-content: center;
}

.logo {
    margin-top: 0.1%;
    transform: translate(-50%, -50%);
}

.logo img{
    border-radius: 50%;
    border-color: black;
    border-style:groove;
}